body {
  background-color: rgba(107, 98, 110, 0.733);
}

.page-wrapper {
  margin: 0 auto;
  margin-top: 10px;
  width: 80vw;
  height: 90vh;
  border-bottom: 50px solid black;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-top: 10px solid black;
  border-radius: 1%;
  overflow-y: hidden;
  background-color: white;
}

.page-wrapper h1 {
  text-align: center;
  font-size: 2.5rem;
  padding: 0 10px;
}

.page-wrapper h4 {
  text-align: center;
  padding: 0 10px;
}

.top-bar {
  height: 40px;
  background-color: black;
}

.status-bar {
  height: 40px;
  width: inherit;
  background-color: #2d2d2d;
  position: relative;
}

.time {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.signal {
  position: absolute;
  top: 9px;
  right: 100px;
  font-size: 1.2rem;
  color: white;
}

.signal .fa-signal {
  margin-left: 15px;
}

.battery-life {
  display: none;
  position: absolute;
  right: 42px;
  top: 6px;
  color: white;
}

.battery {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 5px;
  color: white;
}

.battery .fa-battery-quarter {
  font-size: 2rem;
}

.battery:hover .battery-life {
  display: inline-block;
}

.inner-wrapper {
  overflow-y: auto;
  height: 93%;
  font-family: 'Acme', sans-serif;
}

.small-img {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 5px;
}

.random-img img {
  margin: 0 auto;
  display: block;
}

#assigned-wrapper {
  background-color: #3f3f3f;
  padding: 5px;
}

.assigned-email {
  padding: 20px 10px;
  color: white;
  text-transform: uppercase;
  background-color: #8263a0;
  word-break: break-all;
}

.left-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 53%;
  background-color: #288ebf;
  border-radius: 4%;
  margin-bottom: 10px;
}

.right-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 53%;
  background-color: #ecae77;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 4%;
}

.assigned-img {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}

.assigned-img .fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: none;
}

.assign-to-email:last-child {
  background-color: #3f3f3f;
}

.assign-to-email:last-child .assigned-email {
  background-color: #3f3f3f;
}

.assign-to-email img:hover {
  cursor: pointer;
}

.author {
  text-align: center;
}

.click-btn,
#submit {
  display: block;
  width: 120px;
  height: 45px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 20px auto;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.85rem;
}

.click-btn {
  border: 2px solid #513257;
  border-radius: 1%;
  background-color: #a054af;
  padding-top: 12px;
}

#submit {
  border: 2px solid #3f3f3f;
  border-radius: 1%;
  background-color: #141414;
}

#email {
  text-align: center;
}

#email input:focus {
  border-color: #513257;
  outline-style: none;
}

.error {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
}

.fa-times-circle {
  color: red;
}

.phone-name {
  color: white;
  margin: -23px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: .2rem;
}

.phone-name:before {
  content: '';
  width: 5px;
  height: 5px;
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: .2rem;
}

.phone-name:after {
  content: '';
  width: 5px;
  height: 5px;
  border: 1px solid #4f4fff;
  border-radius: 50%;
  background-color: #4f4fff;
  display: inline-block;
  margin-bottom: 2px;
}

.camera-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #1f1f1f 0%, #383838 23%, #606060 67%, #c2c2c2 100%);
  border: 1px solid gray;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 4px;
}

@media screen and (min-width: 1280px) {
  #assigned-wrapper {
    width: 50%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-wrapper {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    width: 50%;
    overflow-y: auto;
  }
  .inner-wrapper {
    position: relative;
    height: 91%;
  }
}
/*# sourceMappingURL=base.css.map */